<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|ABeeZee:400|Abel:400|Amiko:400|Archivo:400|Archivo+Narrow:400|Arimo:400|Armata:400|Assistant:400|Athiti:400|Barlow:400,|Biryani:400|Fredoka+One:400|Adamina:400|Alike:400|Bellefair:400|Milonga:400|Rosario:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.2/css/main-style.css?t=20210127130131"><style>/* PageFly Element Styles */
						.eiDWck { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.eiDWck i { margin-left: 0.3em; }
.eiDWck:hover, .eiDWck:active, .eiDWck:focus, .eiDWck span { color: inherit; }
.eiDWck span { display: initial; }
.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.jklmHY { padding: var(--pf-s-lg); }
@media (min-width: 992px) and (max-width: 1199px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (min-width: 992px) and (max-width: 1199px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cxBaVr { margin: 0px; }
.cxBaVr > div { display: flex; position: relative; }
.cxBaVr.mailchimp--vertical div { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.cxBaVr input[name="name"] ~ input[name="email"] { margin-left: 10px; }
.cxBaVr.mailchimp--vertical input:first-of-type + input { margin: 10px 0px 0px; }
.cxBaVr.mailchimp--vertical button { width: 100%; margin-top: 10px; }
.cxBaVr input, .cxBaVr button { height: 40px; padding: 0px 20px; line-height: 40px; border-radius: 0px; box-sizing: border-box; box-shadow: none !important; outline: none !important; }
.cxBaVr.cxBaVr button { border: none; background-color: rgb(45, 45, 45); color: rgb(255, 255, 255); font-size: 13px; flex: 0 0 auto; margin-left: -1px; width: auto; }
.cxBaVr button > i + span { margin-left: 10px; }
.cxBaVr input { width: 100%; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.kCAYOZ { visibility: hidden; }
.kCAYOZ.pf-slider-wrapper { overflow: hidden; position: relative; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-prev-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-prev-nav { left: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-2.pf-next-nav, .kCAYOZ.pf-slider-wrapper:hover .nav-style-4.pf-next-nav { right: 20px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3 { opacity: 1; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-prev-nav { left: 0px; }
.kCAYOZ.pf-slider-wrapper:hover .nav-style-3.pf-next-nav { right: 0px; }
.kCAYOZ.pf-slider-mouse-event-off > * { pointer-events: none; }
.kCAYOZ .pf-slider-inner { overflow: hidden; }
.kCAYOZ .pf-slider-slide { will-change: contents; position: absolute; transform: translate3d(100%, 0px, 0px); overflow: hidden; top: 0px; }
.kCAYOZ .pf-slider-nav { position: absolute; z-index: 999; cursor: pointer; border: 0px; background: transparent; top: 50%; transform: translateY(-50%); padding: 0px; transition: all 0.3s ease 0s; }
.kCAYOZ .pf-slider-nav:focus { outline: 0px; }
.kCAYOZ .pf-slider-nav::before { font-size: 14px; color: rgb(255, 255, 255); font-family: FontAwesome; }
.kCAYOZ .pf-slider-nav.nav-style-1 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgba(0, 0, 0, 0.4); border-radius: 100%; }
.kCAYOZ .pf-slider-nav.nav-style-1:hover { background: rgb(0, 0, 0); }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-prev-nav { left: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-1.pf-next-nav { right: 20px; }
.kCAYOZ .pf-slider-nav.nav-style-2, .kCAYOZ .pf-slider-nav.nav-style-4, .kCAYOZ .pf-slider-nav.nav-style-5 { width: 40px; height: 40px; line-height: 40px; justify-content: center; background: rgb(3, 3, 3); border-radius: 3px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-2:hover, .kCAYOZ .pf-slider-nav.nav-style-4:hover, .kCAYOZ .pf-slider-nav.nav-style-5:hover { background: rgb(23, 23, 23); }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-prev-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-2.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-4.pf-next-nav, .kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3 { padding: 20px; text-shadow: rgb(0, 0, 0) 0px 0px 1px; opacity: 0; }
.kCAYOZ .pf-slider-nav.nav-style-3::before { font-size: 24px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-prev-nav { left: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-3.pf-next-nav { right: 40px; }
.kCAYOZ .pf-slider-nav.nav-style-5 { top: auto; bottom: 5%; opacity: 1; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-prev-nav { right: 62px; border-radius: 3px 0px 0px 3px; }
.kCAYOZ .pf-slider-nav.nav-style-5.pf-next-nav { right: 20px; border-radius: 0px 3px 3px 0px; }
.kCAYOZ .pf-slider-nav-disabled { pointer-events: none; }
.kCAYOZ .pf-slider-pagination { position: absolute; bottom: 15px; left: 0px; width: 100%; padding: 0px; margin: 0px; text-align: center; z-index: 1; }
.kCAYOZ .pf-slider-pagination li { display: inline-block; margin: 0px 5px; background: rgb(187, 187, 187); opacity: 1; transition: all 0.3s ease 0s; cursor: pointer; }
.kCAYOZ .pf-slider-pagination li.active, .kCAYOZ .pf-slider-pagination li:hover { background: rgb(33, 33, 33); }
.kCAYOZ .pf-slider-pagination.pagination-style-1 li { width: 20px; height: 5px; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li { position: relative; width: 8px; height: 8px; background: transparent; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li::after { position: absolute; content: ""; left: -2px; top: -2px; width: 12px; height: 12px; border: 1px solid rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-2 li.active { background: rgb(33, 33, 33); border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li { position: relative; width: 16px; height: 16px; border: 2px solid rgb(255, 255, 255); background: transparent; border-radius: 50%; }
.kCAYOZ .pf-slider-pagination.pagination-style-3 li.active::after { position: absolute; content: ""; inset: 3px; width: 6px; border: 2px solid rgb(255, 255, 255); border-radius: 100%; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-a6fdcf16 {
		font-family: "PT Serif";
		 font-weight: 700;
		 letter-spacing: 2px;
		 color: rgb(3, 171, 132);
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-size: 15px;
	}
	.__pf .pf-0c759059 {
		font-family: "PT Serif";
		 font-size: 50px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-106ea0e8 {
		color: rgb(102, 102, 102);
		 font-size: 15px;
		 line-height: 1.5em;
		 font-family: "PT Serif";
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-a0e8fc79 {
		padding-left: 100px;
	}
	.__pf .pf-892ae66e {
		padding-bottom: 105px;
		 margin-bottom: 0px;
		 padding-top: 30px;
	}
	.__pf .pf-60779fb2 {
		display: block;
		 padding: 75px;
	}
	.__pf .pf-cd17b42c {
		font-family: "PT Serif";
		 font-weight: 700;
		 letter-spacing: 2px;
		 color: rgb(3, 171, 132);
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-size: 15px;
	}
	.__pf .pf-b2ecaaef {
		font-family: Alike;
		 font-size: 24px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1.5em;
	}
	.__pf .pf-aaef7b73 {
		padding-left: 100px;
	}
	.__pf .pf-7b73fef5 {
		display: flex;
		 align-items: center;
		 margin-bottom: -60px;
		 margin-top: -10px;
	}
	.__pf .pf-4e649520 {
		margin-bottom: -80px;
	}
	.__pf .pf-b2d088fa {
		padding-top: 105px;
		 padding-bottom: 105px;
		 margin-top: -130px;
	}
	.__pf .pf-570f2c09 {
		background-image: url("https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-d035fa67--6.png?v=1611772743");
		 background-position: 50% 50%;
		 background-size: contain;
		 background-attachment: local;
		 background-repeat: no-repeat;
		 display: inline-block;
		 min-height: 1px;
		 font-size: 8px;
		 padding: 100px;
	}
	.__pf .pf-2c09831f {
		background-image: url("https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-86d035fa--5.png?v=1611772724");
		 background-position: 50% 50%;
		 background-size: contain;
		 background-repeat: no-repeat;
		 background-attachment: local;
		 padding: 100px;
	}
	.__pf .pf-831fec09 {
		background-image: url("https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-787886d0--3.png?v=1611772705");
		 background-position: 50% 50%;
		 padding: 100px;
		 background-repeat: no-repeat;
		 background-size: contain;
		 background-attachment: local;
	}
	.__pf .pf-38092cb9 {
		font-family: "PT Serif";
		 font-weight: 700;
		 letter-spacing: 2px;
		 color: rgb(3, 171, 132);
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-size: 15px;
	}
	.__pf .pf-a6f415c6 {
		font-family: "PT Serif";
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1.5em;
	}
	.__pf .pf-33798eca {
		text-align: center;
		 margin-bottom: 45px;
	}
	.__pf .pf-b84c1d5a {
		margin-bottom: 30px;
	}
	.__pf .pf-bfe407fb {
		font-size: 40px;
		 font-family: "PT Serif";
		 font-weight: 700;
		 color: rgb(0, 183, 151);
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-18dd4106 {
		font-family: "PT Serif";
		 font-size: 20px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 line-height: 1.5em;
	}
	.__pf .pf-1cded915 {
		color: rgb(102, 102, 102);
		 font-size: 15px;
		 line-height: 1.5em;
		 font-family: "PT Serif";
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-9379b72e {
		font-size: 40px;
		 font-family: "PT Serif";
		 font-weight: 700;
		 color: rgb(0, 183, 151);
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-75632b2f {
		font-family: "PT Serif";
		 font-size: 20px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 line-height: 1.5em;
	}
	.__pf .pf-def44be6 {
		color: rgb(102, 102, 102);
		 font-size: 15px;
		 line-height: 1.5em;
		 font-family: "PT Serif";
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-02eb479a {
		font-size: 40px;
		 font-family: "PT Serif";
		 font-weight: 700;
		 color: rgb(0, 183, 151);
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-34cc048b {
		font-family: "PT Serif";
		 font-size: 20px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 line-height: 1.5em;
	}
	.__pf .pf-6e8026b5 {
		color: rgb(102, 102, 102);
		 font-size: 15px;
		 line-height: 1.5em;
		 font-family: "PT Serif";
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-52b9b678 {
		padding-top: 105px;
		 padding-bottom: 105px;
		 background-color: rgb(239, 251, 249);
		 border-style: none;
		 display: flex;
	}
	.__pf .pf-cb47fa4f {
		font-family: "PT Serif";
		 font-weight: 700;
		 letter-spacing: 2px;
		 color: rgb(255, 255, 255);
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-size: 15px;
	}
	.__pf .pf-18b0b6f7 {
		font-family: "PT Serif";
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1.5em;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-0aea7feb {
		font-family: "PT Serif";
	}
	.__pf .pf-0aea7feb > div > button {
		font-family: "PT Serif";
		 font-size: 15px;
	}
	.__pf .pf-0aea7feb > div > input {
		font-size: 15px;
		 font-family: "PT Serif";
	}
	.__pf .pf-3bfeacbf {
		display: flex;
		 align-items: center;
	}
	.__pf .pf-acbfd167 {
		padding-top: 85px;
		 padding-bottom: 85px;
		 background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-9eb549a2-f43b-4cf9-a811-8109dfd68eb4--Logan-05.png?v=1577986304");
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-4cb4c215 {
		font-family: "PT Serif";
		 font-weight: 700;
		 letter-spacing: 2px;
		 color: rgb(3, 171, 132);
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-size: 15px;
	}
	.__pf .pf-c2150957 {
		font-size: inherit;
		 margin-left: 30px;
	}
	.__pf .pf-391222b2 {
		color: rgb(255, 255, 255);
		 font-family: Arimo;
		 font-size: 20px;
		 font-weight: 700;
		 text-align: left;
		 border-style: none;
		 border-color: rgb(74, 74, 74);
		 border-radius: 3px;
		 background-color: rgb(3, 171, 132);
	}
	.__pf .pf-391222b2:hover {
		color: rgb(3, 171, 132);
	}
	.__pf .pf-9ada24bc {
		text-align: center;
	}
	.__pf .pf-24bc1863 {
		padding-bottom: 15px;
		 padding-top: 0px;
	}
	.__pf .pf-6684ef52 {
		background-color: rgb(246, 246, 246);
	}
	.__pf .pf-bab7faa6 {
		margin-right: -50px;
		 margin-left: -50px;
		 margin-top: -100px;
	}
	.__pf .pf-19ecaea1 {
		font-family: Alike;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 font-size: 20px;
		 letter-spacing: 0px;
	}
	.__pf .pf-1f60a1f4 {
		padding: 100px;
		 margin-top: -125px;
		 margin-left: 75px;
	}
	.__pf .pf-a1f479a6 {
		padding: 100px;
		 border-style: none;
		 border-width: 5px;
		 display: inline-block;
		 margin-top: -125px;
		 margin-left: -75px;
	}
	.__pf .pf-46aa052f {
		text-align: left;
		 letter-spacing: 0px;
		 font-size: 20px;
		 font-family: Alike;
	}
	.__pf .pf-a60c3af8 {
		background-image: url("https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-866b7878--1.png?v=1611772677");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: contain;
		 background-attachment: local;
		 padding: 100px;
	}
	.__pf .pf-3af8aa32 {
		background-image: url("https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-6b787886--2.png?v=1611772689");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: contain;
		 background-attachment: local;
		 padding: 100px;
	}
	.__pf .pf-8316ac24 {
		margin-top: -75px;
	}
	.__pf .pf-40a80853 {
		background-image: url("https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-a808537a--josephpearsonQvFT9Mib9Iunsplash.jpg?v=1611784044");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
		 background-attachment: local;
		 margin-top: -50px;
		 padding-bottom: 300px;
		 padding-top: 225px;
	}
	.__pf .pf-ae9c1ce7 {
		color: rgb(3, 171, 132);
		 font-family: "PT Serif";
		 font-size: 16px;
	}
	.__pf .pf-5dad74d5 {
		font-family: "PT Serif";
		 font-size: 50px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-623e3750 {
		font-size: 50px;
		 font-family: "PT Serif";
		 font-weight: 700;
		 margin: 0px;
	}
	.__pf .pf-57f94ba8 {
		font-size: 19px;
		 margin: 0px;
		 color: rgb(3, 171, 132);
	}
	.__pf .pf-a74f4d8b {
		font-size: 19px;
		 margin: 0px;
	}
	.__pf .pf-a3f7e83c {
		font-size: 20px;
		 margin: 0px;
		 padding-top: 15px;
		 padding-right: 1px;
		 padding-left: 10px;
		 font-family: Alike;
	}
	.__pf .pf-e83c0607 {
		width: 100%;
	}
	.__pf .pf-060784af {
		width: 100%;
	}
	.__pf .pf-84af8f06 {
		width: 100%;
	}
	.__pf .pf-8f06cf01 {
		width: 100%;
	}
	.__pf .pf-cf015707 {
		width: 100%;
	}
	.__pf .pf-57075fcb {
		width: 100%;
	}
	.__pf .pf-34171b31 {
		height: 380px;
	}
	.__pf .pf-cfe7eafd {
		font-size: 28px;
	}
	.__pf .pf-14d8cbf7 {
		background-color: rgb(145, 157, 169);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-a03a8b59 {
		width: 100%;
	}
	.__pf .pf-8b598a4d {
		width: 100%;
	}
	.__pf .pf-8a4de2ac {
		width: 100%;
	}
	.__pf .pf-e2acdc9b {
		width: 100%;
	}
	.__pf .pf-dc9ba31c {
		width: 100%;
	}
	.__pf .pf-a31c329c {
		width: 100%;
	}
	.__pf .pf-0a799804 {
		height: 380px;
	}
	.__pf .pf-65a2ec0e {
		padding-bottom: 0px;
	}
	.__pf .pf-8a5b11e1 {
		background-color: rgb(145, 157, 169);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-d09e26b8 {
		background-color: rgb(145, 157, 169);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-6659e93e {
		color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 40px;
		 background-color: rgb(145, 157, 169);
	}
	.__pf .pf-0c4ce985 {
		font-size: inherit;
	}
	.__pf .pf-2e60e396 {
		color: rgb(74, 74, 74);
		 font-size: 48px;
		 text-align: center;
		 line-height: 73px;
		 letter-spacing: 3px;
	}
	.__pf .pf-deb35d1c {
		background-color: rgb(145, 157, 169);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-aaeeaf69 {
		background-color: rgb(145, 157, 169);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-846a13a4 {
		text-align: center;
		 color: rgb(255, 255, 255);
		 border: none;
		 border-radius: 40px;
		 background-color: rgb(145, 157, 169);
		 padding: 0.5em 1em;
	}
	.__pf .pf-dd6be139 {
		font-family: "PT Serif";
		 font-size: 24px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1.5em;
	}
	.__pf .pf-e1394e36 {
		background-image: url("https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-866b7878--1.png?v=1611772677");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: contain;
		 background-attachment: local;
		 padding: 100px;
	}
	.__pf .pf-4e365955 {
		background-image: url("https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-6b787886--2.png?v=1611772689");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: contain;
		 background-attachment: local;
		 padding: 100px;
	}
	.__pf .pf-4983a5a6 {
		background-color: rgb(246, 246, 246);
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-0c759059 {
		font-size: 30px;
	}
	.__pf .pf-a0e8fc79 {
		padding-left: 0px;
	}
	.__pf .pf-892ae66e {
		padding-bottom: 40px;
		 padding-top: 10px;
	}
	.__pf .pf-b2ecaaef {
		font-size: 20px;
		 font-family: Alike;
	}
	.__pf .pf-aaef7b73 {
		padding-left: 0px;
	}
	.__pf .pf-7b73fef5 {
		display: flex;
		 flex-direction: column-reverse;
		 margin-bottom: 0px;
		 padding-top: 130px;
	}
	.__pf .pf-b2d088fa {
		padding-top: 40px;
		 padding-bottom: 0px;
	}
	.__pf .pf-570f2c09 {
		margin: 0px;
		 padding: 100px;
		 background-size: contain;
		 background-repeat: no-repeat;
		 background-position: 50% 50%;
		 background-attachment: local;
	}
	.__pf .pf-2c09831f {
		padding: 100px;
		 background-size: contain;
		 background-repeat: no-repeat;
		 background-attachment: local;
	}
	.__pf .pf-831fec09 {
		padding: 100px;
		 background-attachment: local;
		 background-size: contain;
		 background-repeat: no-repeat;
	}
	.__pf .pf-33798eca {
		margin-bottom: 10px;
	}
	.__pf .pf-b84c1d5a {
		margin-bottom: 10px;
	}
	.__pf .pf-52b9b678 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-acbfd167 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-9eb549a2-f43b-4cf9-a811-8109dfd68eb4--Logan-05.png?v=1577986304");
		 padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-c2150957 {
		margin-left: 10px;
	}
	.__pf .pf-391222b2 {
		font-size: 25px;
		 background-color: rgb(3, 171, 132);
		 color: rgb(255, 255, 255);
		 font-family: Barlow;
		 padding-left: 20px;
		 letter-spacing: 0px;
		 background-position: 0% 0%;
		 border-style: none;
		 border-radius: 3px;
	}
	.__pf .pf-24bc1863 {
		padding-top: 0px;
		 margin-top: -20px;
		 padding-bottom: 0px;
	}
	.__pf .pf-60779fb2 {
		padding: 0px 50px 10px;
	}
	.__pf .pf-9373a3b2 {
		margin-top: 16px;
	}
	.__pf .pf-bab7faa6 {
		margin-right: 0px;
		 margin-top: -40px;
		 margin-left: 0px;
		 padding-top: 5px;
	}
	.__pf .pf-6684ef52 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-19ecaea1 {
		color: rgb(0, 0, 0);
		 font-size: 20px;
		 font-family: Alike;
		 letter-spacing: 0px;
	}
	.__pf .pf-68c841ed {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-46aa052f {
		font-family: Alike;
		 font-size: 20px;
		 padding-bottom: 15px;
	}
	.__pf .pf-a3a04f7d {
		padding-top: 10px;
	}
	.__pf .pf-aa3240a8 {
		background-color: rgb(246, 246, 246);
		 padding-bottom: 0px;
		 margin-bottom: -40px;
	}
	.__pf .pf-5dad74d5 {
		font-size: 30px;
	}
	.__pf .pf-a3f7e83c {
		padding-top: 0px;
		 margin-top: -10px;
		 font-family: Alike;
	}
	.__pf .pf-70885899 {
		padding-bottom: 20px;
		 padding-top: 2px;
	}
	.__pf .pf-34171b31 {
		height: 350px;
	}
	.__pf .pf-0a799804 {
		height: 350px;
	}
	.__pf .pf-65a2ec0e {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-00102194 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-8316ac24 {
		margin-top: 0px;
	}
	.__pf .pf-87df0010 {
		padding-bottom: 0px;
		 padding-top: 15px;
	}
	.__pf .pf-dd6be139 {
		font-size: 20px;
	}
	.__pf .pf-e1394e36 {
		background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: contain;
		 background-attachment: local;
		 padding: 100px;
	}
	.__pf .pf-4e365955 {
		padding: 100px;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: contain;
		 background-attachment: local;
	}
	.__pf .pf-4983a5a6 {
		background-color: rgb(246, 246, 246);
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-acbfd167 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-9eb549a2-f43b-4cf9-a811-8109dfd68eb4--Logan-05.png?v=1577986304");
	}
	.__pf .pf-7b73fef5 {
		margin-bottom: -100px;
		 margin-top: 0px;
	}
	.__pf .pf-892ae66e {
		padding-bottom: 0px;
	}
	.__pf .pf-b2d088fa {
		padding-top: 0px;
	}
	.__pf .pf-bab7faa6 {
		margin-right: 50px;
		 margin-left: 50px;
		 margin-top: -120px;
	}
	.__pf .pf-19ecaea1 {
		font-family: Alike;
		 margin-top: -50px;
	}
	.__pf .pf-46aa052f {
		font-family: Alike;
		 text-align: left;
	}
	.__pf .pf-b2ecaaef {
		font-family: Alike;
		 font-size: 20px;
	}
	.__pf .pf-24bc1863 {
		padding-bottom: 15px;
		 padding-top: 0px;
	}
	.__pf .pf-391222b2 {
		padding-bottom: 12px;
		 padding-top: 12px;
		 font-size: 20px;
	}
	.__pf .pf-40a80853 {
		margin-top: 30px;
		 padding-bottom: 225px;
		 padding-top: 150px;
	}
	.__pf .pf-a3f7e83c {
		padding-top: 0px;
		 padding-left: 0px;
		 font-size: 20px;
		 font-family: Alike;
	}
	.__pf .pf-34171b31 {
		height: 380px;
	}
	.__pf .pf-0a799804 {
		height: 380px;
	}
	.__pf .pf-65a2ec0e {
		padding-top: 0px;
	}
	.__pf .pf-e1394e36 {
		background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: contain;
		 background-attachment: local;
		 padding: 100px;
	}
	.__pf .pf-4e365955 {
		background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: contain;
		 background-attachment: local;
		 padding: 100px;
	}
	.__pf .pf-4983a5a6 {
		background-color: rgb(246, 246, 246);
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-a0e8fc79 {
		padding-left: 0px;
	}
	.__pf .pf-aaef7b73 {
		padding-left: 0px;
	}
	.__pf .pf-acbfd167 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-9eb549a2-f43b-4cf9-a811-8109dfd68eb4--Logan-05.png?v=1577986304");
	}
	.__pf .pf-34171b31 {
		height: 350px;
	}
	.__pf .pf-0a799804 {
		height: 350px;
	}
}
						</style><style></style>{% if product_6144069763228 == null %}{%- assign product_6144069763228 = all_products['1-carat-moissanite-diamond-ring-halo-engagement-925-sterling-silver'] -%}{% endif %} {% if product_6144105480348 == null %}{%- assign product_6144105480348 = all_products['1-carat-moissanite-diamond-ring-engagement-925-sterling-silver-1'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["6144069763228"] = {
					id: {{product_6144069763228.id | json }},
					handle: {{product_6144069763228.handle | json }},
					title: {{product_6144069763228.title | json }},
					type: {{product_6144069763228.type | json }},
					url: {{product_6144069763228.url | json }},
					vendor: {{product_6144069763228.vendor | json }},
					variants: {{product_6144069763228.variants | json }},
					options: {{product_6144069763228.options | json }},
					media: {{product_6144069763228.media | json }},
					has_only_default_variant: {{product_6144069763228.has_only_default_variant | json }},
					options_with_values: {{product_6144069763228.options_with_values | json }},
					selected_variant: {{product_6144069763228.selected_variant | json }},
					selected_or_first_available_variant: {{product_6144069763228.selected_or_first_available_variant | json }},
					tags: {{product_6144069763228.tags | json }},
					template_suffix: {{product_6144069763228.template_suffix | json }},
					featured_image: {{product_6144069763228.featured_image | json }},
					featured_media: {{product_6144069763228.featured_media | json }},
					images: {{product_6144069763228.images | json }}
				};window.__pageflyProducts["6144105480348"] = {
					id: {{product_6144105480348.id | json }},
					handle: {{product_6144105480348.handle | json }},
					title: {{product_6144105480348.title | json }},
					type: {{product_6144105480348.type | json }},
					url: {{product_6144105480348.url | json }},
					vendor: {{product_6144105480348.vendor | json }},
					variants: {{product_6144105480348.variants | json }},
					options: {{product_6144105480348.options | json }},
					media: {{product_6144105480348.media | json }},
					has_only_default_variant: {{product_6144105480348.has_only_default_variant | json }},
					options_with_values: {{product_6144105480348.options_with_values | json }},
					selected_variant: {{product_6144105480348.selected_variant | json }},
					selected_or_first_available_variant: {{product_6144105480348.selected_or_first_available_variant | json }},
					tags: {{product_6144105480348.tags | json }},
					template_suffix: {{product_6144105480348.template_suffix | json }},
					featured_image: {{product_6144105480348.featured_image | json }},
					featured_media: {{product_6144105480348.featured_media | json }},
					images: {{product_6144105480348.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-9f73609d"><div data-pf-type="Layout" class="pf-18639f73"><div data-container="true" class="sc-pZopv bjKdkd pf-892ae66e" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-70885899 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-7cedb356" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-57f94ba8"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bf3857f9">YUBIWA</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-623e3750"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8e8b623e">Moissanite.
<br>The glamorous,
<br>yet ethical gemstone.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-b3567088" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-a3f7e83c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4be9a3f7">The strikingly similar qualities between the two gemstones give moissanite the illusion of being a diamond. Engineered for the purpose of being a suitable substitute, moissanite glamously shines while keeping costs at a fraction of the cost of a diamond. 
<br>
<br>Moissanite also has a stronger brilliance and dispersion, which allows it to have more “sparkle” and a stronger display of a rainbow-like effect that is adored by many.&nbsp;<br></span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-40a80853" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-b2d088fa" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-7b73fef5 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-9fb2d280" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-7886d035--4.png?v=1611772709 1200w, https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-7886d035--4.png?v=1611772709 800w, https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-7886d035--4_400x400.png?v=1611772709&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-60779fb2 pf-img-lazy" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-aaef7b73" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-b2ecaaef"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2dbeb2ec"><span style="font-weight: normal;">While diamonds receive a perfect 10 on the Mohs Scale of Hardness, Moissanite is the second hardest gem to diamonds with a score of 9.25. This makes it perfectly capable for everyday wear as it has a strong resistance to scratching or abrasion.</span></span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-bab7faa6" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-8316ac24 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-aea18316" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-19ecaea1"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a11519ec"><span style="font-weight: normal;">Moissanite today is readily available by means of lab-grown moissanite. Since it is far removed from the unethical mining practices, forced child labor, and environmental degradation that surrounds the history of diamonds, moissanite is the perfect ethical and eco-friendly alternative.</span></span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-6684ef52" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-ec096684 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-570f2c09" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-2c09831f" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-831fec09" data-pf-type="Column"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-68c841ed" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-4f7d68c8 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-a3a04f7d" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-46aa052f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6da471e6">These benefits allow us to have the most competitive pricing while maintaining the highest standard of quality, morality, and beauty in engagement rings
<br>
<br>In addition, we are committed to providing you the best possible customer support while looking for an engagement ring at our store.&nbsp;<br></span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-4983a5a6" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-59554983 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-e1394e36" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-4e365955" data-pf-type="Column"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-65a2ec0e" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-2bb665a2 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-98042bb6" data-pf-type="Column"><div data-sliderx="{'curr':0,'autoPlay':false,'autoPlayDelay':3000,'duration':300,'loop':false,'draggable':true,'paginationStyle':'pagination-style-1','navStyle':'nav-style-1 fa-caret','adaptiveHeight':false,'slidesToShow':{'all':3,'laptop':3,'tablet':2,'mobile':1},'slidesToScroll':{'all':1,'laptop':1,'tablet':1,'mobile':1},'gutter':{'all':0,'laptop':0,'tablet':0,'mobile':0}}" data-pf-type="Slider" class="sc-pYPmd kCAYOZ pf-0a799804"><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-329cb75b"><a data-action="url" href="/products/1-carat-moissanite-diamond-6-claws-engagement-925-sterling-silver-ring" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-a03a8b59"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-261344b1--ring-image-1.jpg?v=1611787642 1200w, https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-261344b1--ring-image-1.jpg?v=1611787642 800w, https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-261344b1--ring-image-1_400x400.jpg?v=1611787642&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-img-lazy"></a><div data-product-id="{{ product.id }}" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-216ec167">{% assign images = product.images %}<div spacing="[object Object]" class="sc-pIvzE hHQGS"><div data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG"><img class="pf-img-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.featured_image | img_url: 'x65', scale: 2 }}" alt="{{ product.featured_image.alt }}" draggable="false">{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-oUbIU kkgvSC">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-pkURi jKvUwv {% if 5 < images.size %}arrow-all{%endif%}{% if 5 < images.size %} arrow-laptop{%endif%}{% if 5 < images.size %} arrow-tablet{%endif%}"><div data-pf-type="ProductImageList" class="sc-psQTH ITnEo">{% assign pf_all = '' %}{% assign pf_laptop = '' %}{% assign pf_tablet = '' %}{% assign pf_mobile = '' %}{% for i in (0..images.size) limit:images.size %}{% assign image = images[i] %}{% if true %}{% if i > 4 %}{% assign pf_all = 'all_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_laptop = 'laptop_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_tablet = 'tablet_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_mobile = 'mobile_hd' %}{% endif  %}{% endif  %}<div class="sc-qPkqk kuHLLu pf-ec0e6df9 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img class="pf-img-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" draggable="false"></div>{% endfor %} </div>{% if true %}<div data-pf-nav="prev" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-left"></i></div><div data-pf-nav="next" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-right"></i></div>{% endif  %}</div></div></div></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-b75baeb3"><a data-action="url" href="/products/2-carat-moissanite-diamond-8-mm-engagement-ring-925-sterling-silver" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-8b598a4d"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-b16e7b57--ring-image-2.jpg?v=1611787848 1200w, https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-b16e7b57--ring-image-2.jpg?v=1611787848 800w, https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-b16e7b57--ring-image-2_400x400.jpg?v=1611787848&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-img-lazy"></a></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-aeb35796"><a data-action="url" href="/products/1-carat-moissanite-diamond-swirl-solitaire-engagement-925-sterling-silver-ring" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-8a4de2ac"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-44b16e7b--ring-image-3.jpg?v=1611787842 1200w, https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-44b16e7b--ring-image-3.jpg?v=1611787842 800w, https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-44b16e7b--ring-image-3_400x400.jpg?v=1611787842&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-img-lazy"></a><a data-pf-type="Button" class="sc-pZdvY kuwSuz pf-aaeeaf69"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b58aaaee">Button text</span></a><a data-pf-type="Button" class="sc-pZdvY kuwSuz pf-deb35d1c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3e68deb3">Button text</span></a></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-5796bbb7"><a data-action="url" href="/products/1-carat-moissanite-diamond-ring-engagement-925-sterling-silver-1" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-e2acdc9b"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-1344b16e--ring-image-4.jpg?v=1611787836 1200w, https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-1344b16e--ring-image-4.jpg?v=1611787836 800w, https://cdn.shopify.com/s/files/1/0521/3903/2732/t/5/assets/pf-1344b16e--ring-image-4_400x400.jpg?v=1611787836&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-img-lazy"></a><a data-pf-type="Button" class="sc-pZdvY kuwSuz pf-8a5b11e1"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1c968a5b">Button text</span></a></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-24bc1863" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1360px;"><div class="sc-qPjXN eYzxUD pf-9ada24bc pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-22b29ada" data-pf-type="Column"><a href="/collections/moissanite-engagement-rings" target="_self" data-pf-type="Button" class="sc-pZdvY eiDWck pf-391222b2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-09573912">Back To Shop Now</span><i class="sc-pjGMk jrwOpx pf-c2150957 fa fa-long-arrow-right" data-pf-type="Icon"></i></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-00102194" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-87df0010 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-2fa987df" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-1a232fa9"><div class="klaviyo-form-VgNnrs"></div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.2","shopDomain":"yubiwa.myshopify.com","elementData":{"pf-216ec167":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","_type":"ProductImage2"},"pf-6df9216e":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"About Us","pageType":"page","pageId":"7af29665-c7e5-41d7-b4a1-79dfaedaab38","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-28T04:25:45.737Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.2/core/helper.js?t=20210127130131" defer></script>